.mat-toolbar {
  background-color:  skyblue;
  color:#01596e;
  position: sticky;
  top: 0;
  z-index: 1;
}

#space{
  flex: 1 1 auto;
}

#googleBtn {
  width: 191px;
  height: 46px;
  background-image: url("/assets/img/btn_google_signin_light_normal_web.png");

}
.bg{
  background-image: url('https://preview.redd.it/qstms2xz49q51.png?width=960&crop=smart&auto=webp&s=83d8e9917dd9811f3bf52c52f7941443b83f49d7');
  background-size: cover;
  height: 100vh;
}
#googleBtn:hover {
  background-image: url("/assets/img/btn_google_signin_light_focus_web.png");
}

.main-content.mat-typography {
  color:#01596e;
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
  align-items: center;
}
