<button mat-fab class="back-button" matTooltip="Back to Learners" matTooltipPosition="right" routerLink="/learner" data-test="backButton">
  <mat-icon class="md-24" aria-label="Back Button">keyboard_backspace</mat-icon>
</button>
<mat-card>
<h1 class="learner-name">{{this.learner.name}}</h1>
</mat-card>
<mat-select [(ngModel)]="ctxID">
  <mat-option *ngFor="let ctxPack of this.allCxtPacks" value={{ctxPack._id}}>
    {{ctxPack.name}}</mat-option>
</mat-select>
<button (click)="submitContextPackID()">Add Pack</button>
<mat-card>
  Assigned Packs:
  <h1 *ngFor="let pack of this.assignedPacksObj" class="assigned-pack-name">
    {{pack.contextpack.name + ':'}}
  <mat-divider></mat-divider>
  </h1>
</mat-card>
<div fxLayout="row">
      <div fxLayout="row wrap" fxLayoutGap="10px" class="contextpack-cards-container">
        <app-contextpack-card simple="true" *ngFor="let contextpack of assignedPacks" class="contextpack-card" [contextpack]="contextpack"  fxFlex="1 1 280px"></app-contextpack-card>
      </div>

  </div>


