<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">


    <mat-card-header>
      <mat-card-title class="learner-list-title">{{this.learner.name}}</mat-card-title>
      <ng-template #learnerError>
        <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="learner-error">
          <mat-error>
            There was a problem loading the learner. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </div>
      </ng-template>
      <mat-card-subtitle>Assigned Packs:</mat-card-subtitle>
    </mat-card-header>
  </div>
</div>

<div fxLayout="row">
      <div fxLayout="row wrap" fxLayoutGap="10px" class="contextpack-cards-container">
        <app-contextpack-card simple="true" *ngFor="let contextpack of assignedPacks" class="contextpack-card" [contextpack]="contextpack"  fxFlex="1 1 280px"></app-contextpack-card>
      </div>

  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #contextpackError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="contextpack-error">
      <mat-error>
        There was a problem loading the contextpacks. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>
