<mat-card class="learner-card" fxLayoutGap="0px" fxFlex.gt-sm="100" fxFlexOffset.gt-sm="0">
  <mat-card-title class="simpleView">
    <span class="learner-name">{{this.learner.name}}</span>
    <mat-card-actions>
        <button class="viewInfo" mat-icon-button matTooltip="View Details" color="primary" data-test="viewInfo" [routerLink]="['/learner/' + this.learner._id]">
        View Learner</button>
    </mat-card-actions>
  </mat-card-title>
<mat-card-content *ngIf="!this.simple">
  <mat-list *ngFor="let assignedPacks of this.assignedPacks">
    {{assignedPacks.name}}
  </mat-list>
</mat-card-content>

</mat-card>
